logs
static/
media/
*.log
*.pyc
__pycache__/
media
.env
.venv
venv/
.DS_Store
._*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
docker/mariadb/data/*
*migrations*