asgiref==3.7.2
black==23.7.0
cffi==1.15.1
cfgv==3.4.0
click==8.1.6
cryptography==41.0.3
distlib==0.3.7
Django==4.2.4
django-cors-headers==4.2.0
djangorestframework==3.14.0
drf-yasg==1.21.7
filelock==3.12.2
gunicorn==21.2.0
identify==2.5.26
inflection==0.5.1
mypy-extensions==1.0.0
mysqlclient==2.2.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
pre-commit==3.3.3
pycparser==2.21
PyJWT==2.8.0
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
sqlparse==0.4.4
uritemplate==4.1.1
virtualenv==20.24.3
